@model DearWalletWeb.Models.Dostava

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dostava</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdresaDostave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresaDostave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaDostave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaDostave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
