@model DearWalletWebNovi.Models.Kreacija

@{
    /**/

    ViewBag.Title = "Kreiranje";
}

<p>@ViewBag.user</p>
<div>
    @Html.ActionLink("Nazad", "Index", "Korisniks")
</div>
<div style="text-align:center">
    <font size="6">Odjevni predmeti</font>
</div>
<table class="table table-bordered">
    <tr>
        <th>Naziv</th>
        <th>Slika</th>
        <th>ID</th>
        <th>Cijena</th>
    </tr>
    @foreach (var item in ViewBag.list1)
    {
        <tr>
            <td>@item.Naziv</td>
            <td><img src="@Url.Content(item.PSlika)" alt="Image" height="100" width="100" />
            <td>@item.Id</td>
            <td>@item.Cijena</td>
        </tr>
    }
</table>

<div style="text-align:center">
    <font size="6">Dezeni</font>
</div>


<table class="table table-bordered">
    <tr>
        <th>Naziv</th>
        <th>Slika</th>
        <th>ID</th>
        <th>Cijena</th>
    </tr>

    @foreach (var item in ViewBag.list2)
    {
        <tr>
            <td>@item.Naziv</td>
            <td><img src="@Url.Content(item.PSlika)" alt="Image" height="100" width="100" />
            <td>@item.Id</td>
            <td>@item.Cijena</td>
        </tr>
    }
</table>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <div style="text-align:center">
            <font size="6">Moja kreacija</font>
        </div>
    </div>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdDezen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdDezen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdDezen, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IdOdjevniPredmet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdOdjevniPredmet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdOdjevniPredmet, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Velicina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Velicina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Velicina, "", new { @class = "text-danger" })
            </div>
        </div>

        <form method="POST">
            <br />
            <button align="center" type="submit">Kreiraj!</button>
            @Html.Label("", Convert.ToString((string)ViewBag.cijena))
        </form>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style type="text/css">
    td {
        width: 100px;
    }
</style>