@model DearWalletWebNovi.Models.Kreacija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kreacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDezen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDezen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdOdjevniPredmet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdOdjevniPredmet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdKorisnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdKorisnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Velicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Velicina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
