@model DearWalletWeb.Dezen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dezen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivDezena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivDezena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlikaDezena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlikaDezena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaDezena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaDezena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
