@model IEnumerable<DearWalletWeb.Mjera>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DuzinaRuke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuzinaNoge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObimStruka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObimGrudi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SirinaRamena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DuzinaRuke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuzinaNoge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObimStruka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObimGrudi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SirinaRamena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MjeraId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MjeraId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MjeraId })
        </td>
    </tr>
}

</table>
