@model DearWalletWeb.Models.Odgovor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Odgovor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pitanje.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pitanje.Tekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TekstOdgovora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TekstOdgovora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PripadniStil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PripadniStil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OdgovorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
