@model IEnumerable<DearWalletWebNovi.Models.Dezen>

@{
    ViewBag.Title = "Search";
}

<h2>Pretraga dezena</h2>
@using (Html.BeginForm("Index", "Dezens", FormMethod.Get))
{
    @Html.TextBox("trazi") <input type="submit" style="margin-top:20px" value="Trazi!" />
}
                           <div>
                               @Html.ActionLink("+ Novi", "Create", "Dezens")
                           </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Slika</th>
            <th>Cijena</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">Šmrc, nema ničeg :(</td>
            </tr>
        }
        else
        {
            foreach (var i in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => i.Naziv)</td>
                    <td><img src="@Url.Content(i.PSlika)" height="100" width="100"/></td>
                    <td>@Html.DisplayFor(modelItem => i.Cijena)</td>
                </tr>
            }
        }
    </tbody>
</table>
