@model DearWalletWeb.OdjevniPredmet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OdjevniPredmet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivOdjevnogPredmeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivOdjevnogPredmeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlikaOdjevnogPredmeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlikaOdjevnogPredmeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaOdjevnogPredmeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaOdjevnogPredmeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odjel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odjel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OdjevniPredmetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
